.transactions-data-search-form {
  position: relative;
  background-color: rgb(200,200,200);
  width: 100%;
  padding: 1rem;
  padding-bottom: 0.25rem;

  &-input-container {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 0 0.5rem;
    border-radius: 1rem;
    overflow: hidden;

    .transactions-data-search-form-icon {
      color: rgb(200,200,200);
    }

    .transactions-data-search-form-active-search-suggestion {
      color: rgb(50,50,50);
      background-color: rgb(215,215,215);
      font-weight: normal;
      margin-left: 0.5rem;
    }

    .transactions-data-search-form-input {
      flex-grow: 1;
      background: none;
      border: none;
      outline: none;
      padding: 0.25rem 1rem;
    }
  }

  .transactions-data-search-form-search-filters {
    padding: 0.25rem;
    overflow-x: auto;
    white-space: nowrap;

    .transactions-data-search-form-search-filter {
      font-weight: 300;
      padding: 0.25rem 0.75rem;
      padding-left: 0.5rem;
      margin-right: 0.25rem;
    }
  }

  &-search-suggestions {
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 1;
    background-color: white;
    padding: 0.5rem 0;
    margin: 0 1rem;
    width: calc(100% - 2rem);
    border: 2px solid gray;
    border-top: 1px solid gray;

    .transactions-data-search-form-search-suggestion {
      padding: 0.25rem 1rem;

      &:hover {
        color: white;
        background-color: var(--selected-color);
      }
    }
  }
}
