.transaction {
  .transaction-button {
    visibility: hidden;
  }

  &:hover &-button {
    visibility: visible;
  }

  &-edit-button:hover {
    color: blue;
  }

  &-delete-button:hover {
    color: red;
  }
}
