@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.spinner {
  animation: spin 1s linear infinite normal both;
}

.view {
  background-color: #e3f2fd;
  min-height: calc(100vh - 4rem - 4rem);
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 1rem;
}
