@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.spinner {
  animation: spin 1s linear infinite normal both;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

$header-height: 5rem;
$footer-height: 4rem;
.view {
  background-color: #e3f2fd;
  margin-top: $header-height;
  margin-bottom: $footer-height;
  flex-grow: 1;
}
