@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.spinner {
  animation: spin 1s linear infinite normal both;
}

.view {
  background-color: #e3f2fd;
  min-height: 100vh;
  margin-bottom: 4rem;
}
