:root {
  --selected-color: #3f51b5;
  --selected-highlight-color: yellow;
}

.input-dropdown {
  position: relative;
  display: flex;
  align-items: center;
  width: 20rem;
  height: 3rem;
  border: 2px solid gray;
  border-radius: 0.25rem;
  background-color: white;
  outline: none;
  cursor: pointer;
}

.input-dropdown-input {
  width: 100%;
  height: 100%;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.input-dropdown-chevron-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem;
}

.input-dropdown-chevron {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid gray;
}

.input-dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  width: 100%;
  background-color: white;
  border: 1px solid lightblue;
  border-radius: 0.25rem;
  margin-top: 2px;
  padding: 0;
  font-size: 1rem;
  max-height: 10rem;
  overflow-y: auto;
  z-index: 1;
}

.input-dropdown.open .input-dropdown-list {
  display: block;
}

.input-dropdown-list-item {
  list-style-type: none;
  margin: 0;
  padding: 0.5rem 1rem;
  min-height: 2.25rem; /* for empty dropdown list items */
}

.input-dropdown-list-item.selected {
  color: white;
  background-color: var(--selected-color);
}

.input-dropdown-list-item.hidden {
  display: none;
}

.input-dropdown-selected-highlight {
  background-color: var(--selected-highlight-color);
}
