/* alert colors */
$alert-info-foreground-color: rgb(49,112,143);
$alert-info-background-color: rgb(217,237,247);
$alert-success-foreground-color: rgb(79,138,12);
$alert-success-background-color: rgb(223,242,191);
$alert-warning-foreground-color: rgb(159,96,0);
$alert-warning-background-color: rgb(254,239,179);
$alert-error-foreground-color: rgb(216,0,12);
$alert-error-background-color: rgb(255,186,186);

$alert-transition-duration: 0.25s;

// use Sass variables & CSS variables for simplified, DRY styling
$alert-foreground-color: var(--alert-foreground-color);
$alert-background-color: var(--alert-background-color);

.alert {
  // default colors
  --alert-foreground-color: #{$alert-info-foreground-color};
  --alert-background-color: #{$alert-info-background-color};

  &-info {
    --alert-foreground-color: #{$alert-info-foreground-color};
    --alert-background-color: #{$alert-info-background-color};
  }

  &-success {
    --alert-foreground-color: #{$alert-success-foreground-color};
    --alert-background-color: #{$alert-success-background-color};
  }

  &-warning {
    --alert-foreground-color: #{$alert-warning-foreground-color};
    --alert-background-color: #{$alert-warning-background-color};
  }

  &-error {
    --alert-foreground-color: #{$alert-error-foreground-color};
    --alert-background-color: #{$alert-error-background-color};
  }

  color: $alert-foreground-color;
  background-color: $alert-background-color;
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 100%;
  margin: 0.25rem 0;
  opacity: 0.7;
  font-size: 14px;
  transition: opacity $alert-transition-duration, transform $alert-transition-duration;
  pointer-events: auto;
  overflow: hidden;






  &:hover {
    opacity: 1;
  }

  &.fading-out {
    transform: translateY(100%);
    opacity: 0;
  }

  &-content {
    padding: 1rem;
    border: 2px solid $alert-foreground-color;
    border-radius: 0.25rem;
  }

  &-content-icon {
    margin-right: 0.25rem;
  }

  &-content-text {
    white-space: pre;
    overflow: auto;
    max-height: 10rem;

    &::-webkit-scrollbar {
      width: 2px;
      height: 2px;

      &-track {
        background: none;
      }

      &-thumb {
        background: $alert-foreground-color;
        border-radius: 10px;
        transition: width 0.5s;
      }
    }
  }
}
