.transaction-detail-modal-input {
  background: none;
  outline: none;
  transition: color 0.2s, background-color 0.2s;
}

.transaction-detail-modal-input-text,
.transaction-detail-modal-textarea {
  border: none;
}

.transaction-detail-modal-input-checkbox {
  margin: 0.375rem 0.75rem;
}

.transaction-detail-modal-input[disabled]:hover {
  color: rgb(100,100,100);
  background: rgb(245,245,245);
  cursor: pointer;
}

.transaction-detail-modal-input-tags-container {
  display: flex;
  align-items: center;
}

.transaction-detail-modal-input-tags-badge-container {
  display: flex;
  align-items: center;
}

.transaction-detail-modal .tag-badge:hover {
  color: rgb(150,150,150);
  background-color: rgb(225,225,225);
}

.transaction-detail-modal-input-tags {
  border: none;
  background: none;
  outline: none;
}
